

.history-2{
	overflow: hidden;
	//border: 2px solid blue;
	//@extend .page-section;

	$history-height: 100vh;
	$history-height-mobile: calc(100vh - 103px);

	.history-top{
		height: $history-height;
	}

	.history-col{
		position: relative;
	}

	//line
	.history-line{
		content: '';
		display: block;
		position: relative;
		top: 50%;
		height: 2px;
		width: 100vw;
		//left: 20px;
		left: 0;
		background: $medium;
		z-index: 0;

		@media screen and (max-width: $sm) {
			display: none;
		}
	}


	//events container
	.history-events{
		height: 100%;
	}

	//slides
	.slick-slide{
		height: $history-height;

		@media screen and (max-width: $sm) {
			height: auto;
			//border: 1px solid red;
		}

		&>div{
			//background: pink;
			height: 50%;
			display: flex !important;
			@extend .align-items-md-end;
			@extend .align-items-sm-start;
			@extend .align-items-start;

			@media screen and (max-width: $sm) {
				height: 100%;
			}
		}

		//lower events
		&:nth-child(even){
			.history-event:before{
				top: calc(0% - 6px);
			}

			&>div{
				margin-top: $history-height / 2;
				@extend .align-items-start;
				@extend .align-items-sm-start;
				@extend .align-items-start;

				@media screen and (max-width: $sm) {
					margin-top: 0;
				}
			}
		}


		//upper events
		&:nth-child(odd){
			
		}

		.history-event-image-container{
			@media screen and (max-height: 480px) {
				width: 50%;
			}
		}

		.history-event-description{
			@media screen and (max-width: $sm) {
				font-size: 13px !important;
			}
		}

	}

	.slick-arrow{
		margin-top: -100px;
		left: -70px;

		@media screen and (max-width: $md) {
			left: -50px;
		}

		@media screen and (max-width: $sm) {
			left: -10px;
			margin-top: 0;
		}

		&:after{
			color: $medium;
		}

		&.slick-next{
			left: auto;
			right: -70px;

			@media screen and (max-width: $md) {
				right: -50px;
			}

			@media screen and (max-width: $sm) {
				right: -10px;
			}
		}

	}

	//individual event
	.history-event{
		padding: 20px 10px 30px 10px;
		position: relative;
		z-index: 1;

		//dot
		&:before{
			content: '';
			display: block;
			height: 14px;
			width: 14px;
			border-radius: 10px;
			background: $brand;
			position: absolute;
			top: calc(100% - 6px);
			z-index: 2;
			margin-left: -10px;

			@media screen and (max-width: $sm) {
				display: none;
			}
		}

		&.milestone{
			&:before{
				width: 19px;
				height: 19px;
				top: calc(100% - 10px);
			}
		}

		@media screen and (max-width: $sm) {
			padding: 30px 20px; 
		}

		.history-event-year{
			font-size: 16px;
			margin-bottom: .5em;
			@extend .bold;
			@media screen and (max-width: $sm) {
				font-size: 14px;
			}
		}

		//event text
		.history-event-description{
			font-size: 15px;
			line-height: 1.2 !important;

			@media screen and (max-width: $md) {
				font-size: 14px;
			}

			@media screen and (max-width: $sm) {
				font-size: 13px;
			}
		}

		//event image
		.history-event-image-container{
			width: 70%;
		}
	}

}


