
#list-your-event-banner{
	background: lighten($interactivea, 30%);

	.button{
		border-radius: 50px;
	}

	#list-your-event-banner-close{
		position: absolute;
		right: 30px;
		top: 50%;
		height: 40px;
		line-height: 40px;
		width: 40px;
		margin-top: -15px;

		a{
			display: block;
			font-family: modern_pictograms_proregular;
			font-size: 55px;
		}
	}
}

.list-your-event-banner-2{
	display: flex;
	@extend .align-items-center;
}



#events-wrapper{
	display: flex;
	position: relative;

	@media screen and (max-width: $sm) {
		display: block;
	}

	.events-main{
		opacity: 1;
		transition: opacity .2s 1s;
	}

	&.filter-loading{
		.events-main{
			transition: opacity .2s 1s;
			opacity: .5;
		}

		.lds-ring{
			//display: inline-block;
		}
	}
}

#events-list{
	height: calc(100vh - #{$filter-nav-height} - #{$nav-height});
	flex: 0 0 50%;
	background: $ultra-light;
	//padding: 30px 25px;
	border-right: 1px solid $light;
	order: 1;

	@media screen and (max-width: $sm) {
		flex: 0 0 100%;
		order: initial;
		height: auto;
	}

	.filter-summary{
		//padding: 50px 50px 13px 50px;
		//border-bottom: 1px solid $light;
		//box-shadow: 0px 3px 3px transparentize($dark, .9);
		//background: white;
		margin-bottom: 30px;
	}

	#events-scroll{
		height: 100%;
		overflow: scroll;
		padding: 50px 50px 100px 50px;

		@media screen and (max-width: $lg) {
			padding: 30px 30px 100px 30px;
		}

		@media screen and (max-width: $sm) {
			padding: 30px 15px 100px 15px;
		}
	}
}

#events-map{
	flex: 0 0 50%;
	height: calc(100vh - #{$filter-nav-height} - #{$nav-height});
	order: 2;

	@media screen and (max-width: $sm) {
		flex: 0 0 100%;
		height: calc(100vh - #{$nav-height} - 180px);
		order: initial;
	}
}





//event card

$card-event-spacing: 35px;

.card-event{
	margin-bottom: $card-event-spacing;

	&:hover{
		.card-inner{
			@extend .shadowed;
		}
	}

	.card-inner{
		display: flex;
		background: white;
		border: 1px solid $light;
		border-radius: 8px;

		@media screen and (max-width: $sm) {
			display: block;
		}

		.card-image{
			flex: 0 0 20%;
			border-radius: 8px 0px 0px 8px;
			background-size: cover;
			background-position: center center;

			@media screen and (max-width: $sm) {
				height: 20vh;
				border-radius: 8px 8px 0 0;
			}
			
		}

		.card-text{
			flex: 0 0 80%;
			padding: $card-event-spacing*.6 $card-event-spacing*.6 $card-event-spacing*.6 $card-event-spacing;

			@media screen and (max-width: $sm) {
				padding: 15px;
			}

			.event-categories{
				display: block;
				@extend .font-bold;
				color: lighten($brand-tint,12%);
				@extend .uppercase;
				@extend .tracked-less;
				font-size: 12px;
				margin-bottom: $card-event-spacing*.2;

				@media screen and (max-width: $sm) {
					font-size: 10px;
				}
			}

			.event-title{
				font-size: 19px;
				line-height: 1.2;
				margin-bottom: $card-event-spacing*.4;

				@media screen and (max-width: $sm) {
					font-size: 15px;
					margin-bottom: $card-event-spacing*.2;
				}
			}

			.event-date{
				margin-bottom: 0;
				font-size: 15px;
				font-weight: 400;
				color: desaturate($brand-tint, 0%);

				@media screen and (max-width: $sm) {
					font-size: 13px;
				}
			}

			.event-location{
				font-size: 15px;
				font-weight: 400;
				color: desaturate($brand-tint, 0%);
				margin-bottom: 0;

				@media screen and (max-width: $sm) {
					font-size: 13px;
				}
			}

		}
	}
}

.marker-card{

	.card-event{
		margin-bottom: 0;
		&:hover{
			.card-inner{
				box-shadow: none;
			}
		}
	}

	.card-inner{
		border: none;
		padding: 0;
		display: block;

		.card-image{
			display: none;
		}
		.card-text{
			padding: 6px;

			.event-categories{
				font-size: 10px;
			}

			.event-title{
				font-size: 15px;
				margin-bottom: 7px;
			}

			.event-date{
				font-size: 12px;
			}

			.event-location{
				font-size: 12px;
			}
		}

	}

}




.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	z-index: 7;
	display: none;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid $brand;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $brand transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}







/* LIST YOUR EVENT */


/* body classes */

.event-submit-submit{
	.submit-event-form-col{
		@extend .col-md-10; 
		@extend .offset-md-1; 
		@extend .col-lg-6;
		@extend .offset-lg-3;
	}
}

.event-submit-preview{

	#submit-event-intro{
		display: none;
	}

	.container-fluid-submit-event{
		//padding: 15px;

		@media screen and (max-width: $sm) {
			padding: 5px;
		}
	}
}

.event-submit-success{
	#submit-event-intro{
		display: none;
	}
	#submit-event-thanks,#submit-event-badges{
		display: block;
	}
	#submit-event{
		display: none;
	}
}

.page-id-554{

	.event-manager-message{
		@extend .col-md-10; 
		@extend .offset-md-1; 
		@extend .col-lg-6;
		@extend .offset-lg-3;	
	}
	
	#submit-event-form{
		@extend .col-md-10; 
		@extend .offset-md-1; 
		@extend .col-lg-6;
		@extend .offset-lg-3;


		.wpem-form-group{
			&:first-child{
				display: none;
			}
		}
	}
}



/* submit page intro */

.submit-event-buttons{
	//display: none;
	@extend .justify-content-center;
	.button{
		display: block;
		margin: 0 10px;
	}
}

#content #submit-event-form .account-sign-in{
	display: none;
}


.submit-event-buttons{
	display: flex;
	//@extend .align-items-stretch;
}

.submit-event-instructions{
	display: none;
	//display: block;

	&.on{
		display: block;
	}
}

.account-creation-message{
	margin-bottom: 60px;

	h4{
		margin-bottom: 0;
	}
}

#submit-event-thanks, #submit-event-badges{
	display: none;
}


/* submit event form overrides */

#content #submit-event-form{

	.account-sign-in{

		a{
			@extend .button;
			@extend .button-brand;
			padding: 6px 15px;
			font-size: 12px;
			float: right;
			position: relative;
			top: 2px;

			@media screen and (max-width: $md) {
				float: none;
				top: 0;

			}
		}
	}

	h2{
		@extend .h3;
		@extend .font-black;
		@extend .brand-tint;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.wpem-form-wrapper .wpem-form-group .wpem-form-label-text{
		font-weight: 800 !important;
		color: $brand-tint !important;
	}

	label{
		font-weight: 700 !important;
		color: darken($brand-tint,8%);
	}

	input{
		&:focus{
			background: white;
		}

		&[type="checkbox"]{
			&:focus{
				box-shadow: none;
			}
		}
	}

	.checkbox-label{
		color: $brand !important;
		font-weight: 700 !important;
		display: inline !important;
	}

	.description{
		line-height: 1.2 !important;
		margin-top: 7px;
		//padding: 0px 15px;
		color: $brand-tint;
		font-weight: 500;
		display: block;
	}

	.wpem-form-group.fieldset-create_account_email{
		margin-bottom: 100px;
	}

	.wpem-form-group.fieldset-event_title{
		//margin-bottom: 20px;
	}

	.wpem-form-group.fieldset-event_category{
		margin-bottom: 60px;

		.event-manager-term-checklist-event_category{
			margin-top: 10px;
			columns: 2;
			li label{
				font-weight: 500 !important;
			}
		}

	}


	.wpem-form-group.fieldset-event_online{
		//margin-bottom: 20px;

		label[for="event_online"]{
			margin-bottom: 7px;
			display: block;
		}

		label{
			display: inline;
			margin-right: 30px;

		}
		input{
			width: auto;
			margin-right: 5px;
		}
	}

	.wpem-form-group.fieldset-event_location{
		//margin-bottom: 20px;
	}

	.wpem-form-group.fieldset-event_country{
		margin-bottom: 60px;
	}

	.wpem-form-group.fieldset-event_timezone{
		margin-bottom: 100px;
	}

	.wpem-form-group.fieldset-i_agree_to_allow_world_oceans_day_to_use_this_image_in_their_marketing_and_communications_materials{
		margin-bottom: 60px;

		.description{
			display: inline;
			color: $brand;
			font-weight: 700;
		}
	}

	.wpem-form-group.fieldset-event_registration_link{
		margin-bottom: 60px;
	}

	.wpem-form-group.fieldset-event_start_date,.wpem-form-group.fieldset-event_start_time,.wpem-form-group.fieldset-event_end_date,.wpem-form-group.fieldset-event_end_time{
		display: inline-block;
		width: 46%;
	}

	.wpem-form-group.fieldset-event_start_date,.wpem-form-group.fieldset-event_end_date{
		margin-right: 6%;
	}

	.wpem-form-group.fieldset-organizer_description{
		margin-bottom: 60px;
	}

	.wpem-form-footer{
		text-align: center;
		margin-top: 60px;
	}

	input[type="submit"]{
		@extend .button;
		border: none;
	}

}


/* event preview page */


#event_preview{

	.event_listing_preview_title{
		padding: 0;
		background: none !important;
		margin-bottom: 60px;
		margin-top: 0;

		.button{
			background: $brand-secondary;
			color: white;
			border: none !important;
			@extend .button;
			margin: 0 15px;

			&:hover{
				cursor: pointer;
			}
		}

		.preview-title{
			color: $brand-tint;
			margin-bottom: 30px;
		}
	}

	.event_listing_preview{
		border: 2px solid $brand-tint;
		border-radius: 8px;
		margin: 0;
		padding-top: 0;
		overflow: hidden;
		@extend .shadowed;
	}


}


/* success */
.submit-event-badge{
	margin-bottom: 60px;
	.submit-event-badge-link{
		margin-top: 10px;
	}
}






/* EVENT SINGLE */

$event-single-spacing: 30px;

$event-meta-color: darken($brand-tint,5%);

#event-single-wrapper{

	.padded{
		@media screen and (max-width: $md) {
			padding-top: $event-single-spacing*1;
			padding-bottom: $event-single-spacing*1;
		}
	}
	.padded-top{
		@media screen and (max-width: $md) {
			padding-top: $event-single-spacing*1;
		}
	}

	.event-single-hero-image{
		@media screen and (max-width: $md) {
			height: 40vh;
		}
	}

	.block-background{
		background-position: center center;
	}

	.event-single-hero-meta{
		background: darken(#FAFBFC,1%);
		padding: $event-single-spacing*2 $event-single-spacing*2 $event-single-spacing*2 $event-single-spacing*1.5;

		@media screen and (max-width: $md) {
			padding: 30px;
		}
	}

	.event-meta-row{
		margin-bottom: $event-single-spacing;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.event-single-title{
		@extend .font-black;
		color: $event-meta-color;
		line-height: 1.3;
		margin-bottom: $event-single-spacing*1.5;
		width: 66%;
		font-size: 27px;

		@media screen and (max-width: $md) {
			font-size: 21px;
			width: 100%;
			margin-bottom: $event-single-spacing*.75;
		}
	}

	.event-single-meta-icon{
		.icon:before{
			font-size: 35px;
			color: $event-meta-color;

			@media screen and (max-width: $md) {
				font-size: 30px;
			}
		}
	}

	.event-single-meta-heading{
		@extend .font-black;
		color: $event-meta-color;
		font-size: 17px;
		margin-bottom: 3px;
		//width: 90%;

		@media screen and (max-width: $md) {
			font-size: 13px;
		}
	}

	.event-single-meta-secondary{
		color: $event-meta-color;
		font-size: 16px;
		margin-bottom: 3px;	
		@media screen and (max-width: $md) {
			font-size: 12px;
		}
	}

	.event-single-meta-link{
		margin-bottom: 0;
		color: $brand-secondary;
		font-weight: 500;
		font-size: 16px;
		@media screen and (max-width: $md) {
			font-size: 13px;
		}

		a{
			color: $brand-secondary;
			font-weight: 500;
			font-size: 16px;
			@media screen and (max-width: $md) {
				font-size: 13px;
			}
		}
	}

	.single-event-description{
		@media screen and (max-width: $md) {
			margin-bottom: $event-single-spacing;
		}
	}

	.single-event-separator{
		height: 2px;
		background: $light-blue;
		margin-top: $event-single-spacing*3;

		@media screen and (max-width: $md) {
			margin-top: $event-single-spacing;	
		}
	}


	.single-event-categories{
		margin-bottom: $event-single-spacing;	
		@media screen and (max-width: $md) {
			margin-bottom: $event-single-spacing/2;	
		}

		.button{
			margin-bottom: $event-single-spacing*.5;
			margin-right: 20px;
		}
	}

	.single-event-website{
		a{
			color: $brand-secondary;
			font-weight: 500;
		}
	}

	.single-event-organizer-logo{
		img{
			width: 70px;
			margin-bottom: 10px;
		}
	}

	.single-event-organized-by{
		margin-bottom: $event-single-spacing;

		.event-single-meta-heading{
			margin-bottom: 10px;
		}
	}

	.single-event-organizer-label{
		color: lighten($brand-tint,5%);
		@extend .uppercase;
		@extend .tracked-less;
		margin-bottom: 0;
	}

	#single-event-map-map{
		iframe{
			height: 350px;
		}
	}

	.event-single-share-container{
		margin-top: $event-single-spacing;
	}

	.addthis_inline_share_toolbox_84zx{
		display: flex;
		@extend .justify-content-center;
	}




}





