

#footer{
	position: relative;
	z-index: 2;
	
	*{
		color: white;
	}

	ul{
		li{
			margin-bottom: .5em;

			a{
				font-size: 17px;
			}
		}
	}

	a{
		display: inline-block;
		margin-right: 15px;

		img{
			width: 25px;
			@media screen and (max-width: $sm) {
				width: 20px;
			}
		}
	}

	.footer-social-items{
		a{
			display: inline-block;
			padding-right: 12px;
			margin-right: 0;

			img{
				width: 21px;
				@media screen and (max-width: $sm) {
					width: 20px;
				}
			}
		}
	}

	.footer-secondary{
		ul{
			text-align: center;

			li{
				display: inline-block;
			}

			a{
				text-transform: uppercase;
				@extend .bold;
				padding: 15px;
			}
		}
	}

}