
/* STRUCTURE */

body{
	background-color: $body-background-color;
}


/* make bootstrap gutters smaller on small screens */
.row{
	@media screen and (max-width: $sm) {
		margin-left: -10px;
		margin-right: -10px;
	}

	&.row-full{
		margin: 0;
	}
}


#content{
	overflow: hidden;
	padding-top: $nav-height;

	@media screen and (max-width: $md) {
		padding-top: $nav-height-mobile;
	}
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
	@media screen and (max-width: $sm) {
		padding-left: 10px;
		padding-right: 10px;
	}
}



/* customize bootstrap container fluid parameters */
.container-fluid{
	max-width: $container-fluid-max-width;
	padding-left: $container-fluid-padding;
	padding-right: $container-fluid-padding;

	@media screen and (max-width: $lg) {
		padding-left: $container-fluid-padding-md;
		padding-right: $container-fluid-padding-md;
	}

	@media screen and (max-width: $sm) {
		padding-left: $container-fluid-padding-mobile;
		padding-right: $container-fluid-padding-mobile;
	}	

	&.container-fluid-stretch{
		max-width: none;
	}

	&.container-fluid-tight{
		padding-left: $container-fluid-padding-md;
		padding-right: $container-fluid-padding-md;

		@media screen and (max-width: $lg) {
			padding-left: $container-fluid-padding-mobile;
			padding-right: $container-fluid-padding-mobile;
		}

		@media screen and (max-width: $sm) {
			padding-left: $container-fluid-padding-mobile * .5;
			padding-right: $container-fluid-padding-mobile * .5;
		}	
	}

}


/* MISC */


*{
	word-wrap: break-word;
}

a{
	color: $brand;

	&:hover{
		color: $brand;
	}

	&:focus{
		outline: none;
		text-decoration: none;
	}

}

input{
	&:focus{
		outline: none;
	}
}



/* THEME */

.bg-brand-secondary{
	background: $brand-secondary;
}

.bg-interactive{
	background: $interactive;
}

.bg-interactivea{
	background: $interactivea;
}

.bg-brand-tint{
	background: $brand-tint;
}

.bg-light-blue{
	background: $light-blue;
}

.bg-pink{
	background: $pink;
}

.bg-pinka{
	background: $pinka;
}

.bg-orange{
	background: $orange;
}

.bg-orangea{
	background: $orangea;
}

.brand-secondary{
	color: $light-blue;
}

.interactive{
	color: $light-blue;
}

.interactivea{
	color: $interactivea;
}

.brand-tint{
	color: $brand-tint;
}

.light-blue{
	color: $light-blue;
}

.pink{
	color: $pink;
}

.pinka{
	color: $pinka;
}

.orange{
	color: $orange;
}

.orangea{
	color: $orangea;
}


.font-light{
	font-weight: 300;
}

.font-book{
	font-weight: 400;
}

.font-medium{
	font-weight: 500;
}

.font-bold{
	font-weight: 700;
}

.font-black{
	font-weight: 800;
}




/* sitewide button styles */

$text-button: (
	xs: (9px, 12px),
	sm: (11px, 12px),
	md: (12px, 12px),
	lg: (13px, 12px),
	xl: (14px, 12px)
	);

.button{
	padding: 12px 18px 10px 18px;
	color: white;
	@extend .font-black;
	@extend .uppercase;	
	@extend .tracked;
	display: inline-block;
	text-align: center;
	@include text-size($text-button);	
	background-size: 100% 100%;
	background: $brand;
	border-radius: 8px;
	transition: transform .1s;

	@media screen and (max-width: $md) {
		padding: 8px 12px 6px 12px;
	}

	@media screen and (max-width: $sm) {
		padding: 8px 12px 6px 12px;
	}

	&.button-small{
		padding: 5px 8px 2px 8px;
		font-size: 13px;
	}

	&.button-large{
		padding: 20px;
		$text-button-large: (
			xs: (13px, 12px),
			sm: (14px, 12px),
			md: (15px, 12px),
			lg: (16px, 12px),
			xl: (17px, 12px)
			);
		@include text-size($text-button-large);	
	}

	&.button-interactive{
		background: $interactive;
	}

	&.button-pink{
		background: $pink;
		color: $brand;
	}

	&.button-centered{
		margin: auto;
		display: block;
	}

	&.button-full{
		width: 100%;
		padding: 20px 0;
		border-radius: 0;
	}

	&:hover{
		transition: transform .1s;
		transform: scale(1.05);
		transform-origin: 0 0;
		color: white;
	}

	&:focus{
		outline: none;
		box-shadow: none;
	}




}

.shadowed{
	box-shadow: 0px 1px 5px transparentize($dark, .7);
}


.ws-map{
	height: 100%;
}



/* CARDS */

.cards-container{
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;

	@media screen and (max-width: $sm) {
		margin-left: -10px;
		margin-right: -10px;
	}
}

.card{
	margin-bottom: 3em;
	display: flex;
	position: relative;
	z-index: 1;

	&.mb0{
		margin-bottom: 0;
	}

	.card-inner-link{
		display: flex;
		width: 100%;
	}
	
	.card-inner{
		border-radius: 8px;
		background: white;
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid $light;

		&:hover{
			@extend .shadowed;
		}

	}

	.card-image{
		width: 100%;
		border-radius: 8px 8px 0px 0px;
	}

	.card-title{
		@extend .bold;
		@extend .brand;
		padding: 15px 30px 0px 30px;

		@media screen and (max-width: $xl) {
			padding: 15px 15px 0 15px;
		}
		@media screen and (max-width: $md) {
			padding: 10px 10px 0 10px;
		}

	}

	.card-description{
		@extend .medium-dark;
		@extend .small;
		width: 100%;
		margin-bottom: 0;
		flex: 1 0 auto;
		padding: 0px 30px 30px 30px;

		@media screen and (max-width: $xl) {
			padding: 0px 15px 7px 15px;
			width: 100%;
		}
		@media screen and (max-width: $md) {
			padding: 0px 10px 10px 10px;
		}
	}

	.card-button-container{
		width: 100%;

		.card-button-text{
			border-top: 1px solid $light;
			display: block;
			padding: 10px 30px;
			color: $brand-secondary;
			font-weight: 700;
			font-size: 13px;
			@extend .uppercase;

			@media screen and (max-width: $lg) {
				padding: 7px 20px;
				font-size: 11px;
			}

			@media screen and (max-width: $md) {
				padding: 5px 15px;
				font-size: 10px;
			}
		}
	}


	&.card-style-featured{
		padding: $container-fluid-padding - $container-fluid-padding-md;
		min-height: 55vh;
		display: flex;
		@extend .align-items-center;

		@media screen and (max-width: $md) {
			min-height: 0;
		}

		.card-featured-inner{

		}

		.card-featured-link{
			display: inline-block;
		}

		@media screen and (max-width: $lg) {
			padding-left: $container-fluid-padding-md - $container-fluid-padding-mobile;
			padding-right: $container-fluid-padding-md - $container-fluid-padding-mobile;
		}

		@media screen and (max-width: $sm) {
			padding-left: $container-fluid-padding-mobile;
			padding-right: $container-fluid-padding-mobile;
		}	

	}

	&.card-style-image{
		border-radius: 8px;

		.block-background{
			border-radius: 8px;
			background-position: center center;

			&:after{
				border-radius: 8px;
			}
		}

		.card-inner{
			flex-direction: row;
			background: none;
			border: none;
			height: 100%;
			position: relative;
			padding: 100px 40px 50px 40px;
			display: flex;
			@extend .align-items-end;

			@media screen and (max-width: $md) {
				padding: 60px 20px 30px 20px;
				.card-title{
					font-size: 18px;
				}
			}
		}

		.card-title{
			padding: 0;
			margin-bottom: 30px;
			@extend .font-black;
		}

		&.card-style-image-pink .block-background:after{
			background: -moz-linear-gradient(top, rgba(255,181,216,.4) 0%, rgba(255,181,216,1.0) 95%, rgba(255,181,216,1.0) 100% );
			background: -webkit-linear-gradient(top, rgba(255,181,216,.4) 0%, rgba(255,181,216,1.0) 95%, rgba(255,181,216,1.0) 100% );
			background: linear-gradient(to bottom, rgba(255,181,216,.4) 0%, rgba(255,181,216,1.0) 95%, rgba(255,181,216,1.0) 100% );
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffb5d8', endColorstr='#a6ffb5d8',GradientType=0 );
		}

		&.card-style-image-brand .block-background:after{
			background: -moz-linear-gradient(top, rgba(22,69,121,.4) 0%, rgba(22,69,121,1.0) 95%, rgba(22,69,121,1.0) 100% );
			background: -webkit-linear-gradient(top, rgba(22,69,121,.4) 0%, rgba(22,69,121,1.0) 95%, rgba(22,69,121,1.0) 100% );
			background: linear-gradient(to bottom, rgba(22,69,121,.4) 0%, rgba(22,69,121,1.0) 95%, rgba(22,69,121,1.0) 100% );
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00164579', endColorstr='#a6164579',GradientType=0 );
		}

		&.card-style-image-interactive .block-background:after{
			background: -moz-linear-gradient(top, rgba(25,186,227,.4) 0%, rgba(25,186,227,1.0) 95%, rgba(25,186,227,1.0) 100% );
			background: -webkit-linear-gradient(top, rgba(25,186,227,.4) 0%, rgba(25,186,227,1.0) 95%, rgba(25,186,227,1.0) 100% );
			background: linear-gradient(to bottom, rgba(25,186,227,.4) 0%, rgba(25,186,227,1.0) 95%, rgba(25,186,227,1.0) 100% );
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00164579', endColorstr='#a6164579',GradientType=0 );
		}

		&.card-style-image-orange .block-background:after{
			background: -moz-linear-gradient(top, rgba(254,242,221,.4) 0%, rgba(254,242,221,.8) 39%, rgba(254,242,221,1.0) 100% );
			background: -webkit-linear-gradient(top, rgba(254,242,221,.4) 0%, rgba(254,242,221,1.0) 95%, rgba(254,242,221,1.0) 100% );
			background: linear-gradient(to bottom, rgba(254,242,221,.4) 0%, rgba(254,242,221,1.0) 95%, rgba(254,242,221,1.0) 100% );
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9A619', endColorstr='#F9A619',GradientType=0 );
		}

	}

}


.overview-block{
	margin-bottom: 14vh;
	position: relative;
	width: 83%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	@extend .align-items-stretch;

	@media screen and (max-width: $md) {
		width: 100%;
		margin-bottom: 10vh;
	}

	@media screen and (max-width: $sm) {
		//display: block;
	}

	&:nth-child(even){
		.overview-block-image{
			order: 1;
			margin-left: 0;

			@media screen and (max-width: $md) {
				margin-left: 0;
			}
		}
		.overview-block-text{
			order: 2;
			margin-left: -20%;

			@media screen and (max-width: $md) {
				margin-left: -50%;
			}
			@media screen and (max-width: $sm) {
				margin-left: -60%;
			}
		}
	}
}

.overview-block-image{
	width: 55%;
	margin-left: -20%;
	display: block;
	position: relative;
	flex: 1 0 auto;
	border-radius: 8px;
	background-size: cover;
	background-repeat: no-repeat;

	@media screen and (max-width: $md) {
		width: 70%;
		margin-left: -50%;
	}

	@media screen and (max-width: $sm) {
		width: 70%;
		margin-left: -60%;
	}
}

.overview-block-text{
	width: 70%;
	padding: 10vh 0px;
	position: relative;
	z-index: 3;

	@media screen and (max-width: $md) {
		padding: 7vh 0;
	}

	@media screen and (max-width: $md) {
		width: 80%;
	}

	@media screen and (max-width: $sm) {
		width: 90%;
	}

	.overview-block-text-inner{
		@extend .shadowed;
		border-radius: 8px;
		padding: 60px;
		background: white;

		@media screen and (max-width: $md) {
			padding: 40px;
		}

		@media screen and (max-width: $sm) {
			padding: 20px;
		}
	}

	.block-heading{
		@extend .bold;
		margin-bottom: 1em;	
	}

	.block-text{
		width: 80%;

		@media screen and (max-width: $md) {
			width: 100%;
		}
	}

	.block-link{
		@extend .bold;
	}
}

.ws-map-popup-content-wrapper{
	@extend .shadowed;
}

.fish-strip{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 70%;
	width: auto;
	z-index: 0;
	opacity: .15;
}



.slick-dots{

	li{
		margin-right: 13px;

		&.slick-active{
			button{
				width: 14px;
				height: 14px;
				border: none;
				background: $brand;	
			}

		}
		
		button{
			width: 14px;
			height: 14px;
			background: #ccc;
			border: none;
		}
	}
}


/* LOADER */

.loader-icon {
	width: 50px;
	height: 50px;
	animation: spin 3s linear infinite;
	margin: 60px auto;
	display: none;

	&.active{
		display: block;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}




/* site credit */

.site-credit {

	h4{
		@extend .centered;
		font-size: 13px;
		@extend .font-light;

		@media screen and (max-width: $sm) {
			font-size: 10px;
		}
	}
}

