
.home-section-heading{
	@extend .h4;
	@extend .uppercase;
	@extend .font-black;
	@extend .tracked-less;
}

.container-fluid-home{
	max-width: 1400px;
}

#home-hero{
	overflow: hidden;

	.home-hero-row{
		width: 100%;
	}

	.block-background{
		&:after{
			background: transparentize($brand, .75);
		}
	}

	video{
		min-height: 100%;
		min-width: 102%;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-51%,-50%);
	}

	.container-fluid{
		position: relative;
		z-index: 1;
	}

	.tagline-date{
		//margin-bottom: 30px;
		//@extend .uppercase;
	}

	.tagline{
		margin-bottom: 40px;
		//opacity: .9;
		font-size: 60px;
		line-height: 1.1;

		@media screen and (max-width: $md) {
			font-size: 40px;
		}

		@media screen and (max-width: $sm) {
			font-size: 40px;
		}
	}

	.background-links{
		margin-top: 40px;
	}

	.background-link{
		display: inline-block;
		margin-right: 2em;
	}
}


#home-overview{
	background: #E1F0F5;

	.home-overview-block{
		img{
			width: 50px;
			margin-bottom: 30px;
			display: block;
		}
		.home-overview-link-container{
			//display: flex;
			//@extend .justify-content-center;
			margin-bottom: 30px;
		}
		.home-overview-block-text{
			//text-align: center;
			max-width: 250px;
		}
	}
}



#home-who-we-are{

	.who-we-are-background-image{
		@extend .background;
		bottom: 0;
		left: 0;
		top: auto;
	}
	.block-text{
		width: 100%;
	}

	.who-we-are-image{
		border-radius: 8px;
	}

	.who-we-are-text-1,.who-we-are-text-2,.link-container{
		margin-bottom: 60px;
	}

	.who-we-are-text-1,.who-we-are-text-2{
		*{
			color: white;
		}
	}
}

#home-stories{
	.block-background{
		background-position: center center;
	}
}


#home-supporters{

	.slick-home-supporters{
		//border: 1px solid $brand;
		margin-bottom: 60px;

		.slick-arrow{
			left: -50px;

			@media screen and (max-width: $sm) {
				left: -10px;
			}
			
			&:after{
				color: $brand;
			}

			&.slick-next{
				left: auto;
				right: -50px;

				@media screen and (max-width: $sm) {
					right: -15px;
				}
			}
		}


		.home-supporters-slide{
			//border: 1px solid red;
			padding: 1em 3vw;
		}
		img{
			display: block;
			margin: 0 auto;
		}
	}
}



.take-action-card{

	&.card-style-image-brand{
		.card-title{
			color: white;
		}

		.button{
			background: $interactive;
		}
	}

	&.card-style-image-interactive{
		.card-title{
			color: white;
		}

		.button{
			background: darken($pink,5%);
		}
	}


}