
.home-section-heading{
	@extend .uppercase;
	@extend .font-black;
	@extend .tracked-less;
	font-size: 21px;
	@media screen and (max-width: $lg) {
		font-size: 19px;
	}	

	@media screen and (max-width: $md) {
		font-size: 17px;
	}

	@media screen and (max-width: $sm) {
		font-size: 16px;
	}

	@media screen and (max-width: $xs) {
		font-size: 14px;
	}	
}

.home{
	.block h3{
		font-size: 2vw;

		@media screen and (max-width: $lg) {
			font-size: 2.3vw;
		}	

		@media screen and (max-width: $md) {
			font-size: 3vw;
		}

		@media screen and (max-width: $sm) {
			font-size: 3.5vw;
		}

		@media screen and (max-width: $xs) {
			font-size: 4vw;
		}	
	}
}

.container-fluid-home{
	max-width: 1480px;
}

#home-hero{
	overflow: hidden;

	.home-hero-row{
		width: 100%;
	}

	.block-background{
		&:after{
			background: transparentize($brand, .75);
		}
	}

	video{
		min-height: 100%;
		min-width: 102%;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-51%,-50%);
	}

	.container-fluid{
		position: relative;
		z-index: 1;
	}

	.tagline{
		margin-bottom: 40px;
		//opacity: .9;
		font-size: 60px;
		line-height: 1.1;

		@media screen and (max-width: $md) {
			font-size: 40px;
		}

		@media screen and (max-width: $sm) {
			font-size: 40px;
		}
	}

	.tagline-date{
	}

	.tertiary-text{
		margin-top: 40px;
	}

	.background-links{
		margin-top: 40px;
	}

	.background-link{
		display: inline-block;
		margin-right: 2em;
	}
}


#home-social{

	.social-left{
		@media screen and (max-width: $sm) {
			margin-bottom: 3em;
		}
	}

	.social-text{
		font-size: 21px;
		@media screen and (max-width: $lg) {
			font-size: 19px;
		}	

		@media screen and (max-width: $md) {
			font-size: 17px;
		}

		@media screen and (max-width: $sm) {
			font-size: 16px;
		}

		@media screen and (max-width: $xs) {
			font-size: 14px;
		}	
	}

	.social-right{
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@media screen and (max-width: $md) {
			justify-content: flex-start;
			align-items: none;
		}
	}

	.home-social-follow{

		a{
			display: inline-block;
			padding-right: 12px;
			margin-right: 0;
			margin-left: 5px;

			&:first-child{
				margin-left: 20px;
			}

			img{
				width: 30px;
				position: relative;
				top: -6px;
				@media screen and (max-width: $sm) {
					width: 20px;
				}
			}
		}		
	}

}


#home-take-action{


}

#home-youth{
	.block-background{
		&:after{
			background: transparentize($brand, .65);
		}

	}
}


#home-stories{

	.supporters-stories-heading{
		@extend .h3;
		@extend .font-black;
		color: $brand;
	}

	.card-supporter-title{
		@extend .h4;
		margin-bottom: 35px;

	}
	.block-background{
		background-position: center center;
	}
}


#home-supporters{

	.slick-home-supporters{
		//border: 1px solid $brand;
		margin-bottom: 60px;

		.slick-arrow{
			left: -50px;

			@media screen and (max-width: $sm) {
				left: -10px;
			}
			
			&:after{
				color: $brand;
			}

			&.slick-next{
				left: auto;
				right: -50px;

				@media screen and (max-width: $sm) {
					right: -15px;
				}
			}
		}


		.home-supporters-slide{
			//border: 1px solid red;
			padding: 1em 3vw;
		}
		img{
			display: block;
			margin: 0 auto;
		}
	}
}
