
.menu-open{
	overflow: hidden;

	.hl-1{
		transform: rotate( 45deg );
		top: 10px;

	}
	.hl-2{
		transform: rotate( -45deg );
		top: 0px;
	}	
	.hl-3{
		transform: rotate( -45deg );
		top: -10px;	
	}

	@media screen and (max-width: $md) {
		#menus{
			position: fixed;
			top: $nav-height-mobile;
			left: 0;
			background: $ultra-light;
			width: 100%;
			height: calc(100vh - #{$nav-height-mobile});
			height: calc((var(--vh, 1vh) * 100) - #{$nav-height-mobile});
			z-index: 6;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}

		.mobile-menu-secondary{
			display: block;
		}

		.menu-dropdown{
			display: block;
		}

		#nav{
			box-shadow: 0 5px 15px darken($brand-secondary,15%);
			//overflow: visible;
		}
	}

}


.menu-dropdown{
	margin: 0;
	padding: 0;
	width: 100%;
	top: $nav-height;
	background: transparentize(white, .0);
	box-shadow: 0px 2px 50px transparentize(darken($medium-dark,15%),.6);
	position: fixed;
	transform: translate(0,-$nav-height);
	transform-origin: 0 0;
	z-index: -9;
	opacity: 0;
	overflow: hidden;
	transition: opacity .4s, transform .4s; //transition out
	display: grid;
	grid-template-columns: 50% 50%;

	@media screen and (max-width: $lg) {
		grid-template-columns: 69% 31%;
		transition: opacity .3s, transform .4s; //transition out
	}

	@media screen and (max-width: $md) {
		position: relative;
		z-index: 6;
		top: 0;
		opacity: 1;
		display: none;
		box-shadow: none;
		transform: none;
		height: 65px;
		border-bottom: 1px solid $light;
	}

	&.on{
		z-index: 6;
		transform: translate(0,0);
		opacity: 1;
		transition: opacity .5s, transform .4s; //transition in

		@media screen and (max-width: $lg) {
			transition: opacity .3s, transform .4s; //transition in
		}
	}

	&.mobile-menu-open{
		height: auto !important;

		.menu-title-link:after{
			content: '—';
		}
	}


	.menu-left{
		padding: 60px 50px 50px 50px;

		@media screen and (max-width: $md) {
			padding: 30px 15px;
			background: darken($brand-secondary,6%);
			*{
				color: white;
			}
		}

		.menu-col{
			@media screen and (max-width: $md) {
				margin-bottom: 30px;
			}
		}

		.menu-heading{
			@media screen and (max-width: $md) {
				margin-bottom: 1em;
			}
		}

		h3{

			a{
				@extend .bold;
				font-size: 21px;
				color: $brand-tint;

				@media screen and (max-width: $md) {
					color: white;
					font-size: 16px;
				}
			}
		}

		li{
			margin-bottom: .6em;

			@media screen and (max-width: $md) {
				//margin-bottom: 1em;
			}

			a{
				font-size: 17px;
				display: block;
				@extend .font-medium;

				@media screen and (max-width: $md) {
					font-size: 14px;
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}

	$menu-graphic-image-width: 300px;

	.menu-graphic{
		height: calc(100vh - 400px);
		max-height: 680px;
		overflow-y: scroll;
		overflow-x: hidden;
		background: $ultra-light;
		padding: 60px 50px 50px 50px;

		@media screen and (max-width: $md) {
			display: none;
		}

		img{
			display: block;
			max-width: $menu-graphic-image-width;
			margin-bottom: 1em;
			border-radius: 5px;
		}

		h4{
			font-size: 16px;
		}

		p{
			font-size: 13px;
			max-width: $menu-graphic-image-width;
			padding-right: 10px;
		}
	}

}


.menu-title,.mobile-menu-secondary-link{
	display: none;
	position: relative;
	background: darken($brand-secondary,3%);

	@media screen and (max-width: $md) {
		display: block;
	}

	a{
		padding-left: 15px;
		padding-top: 26px;
		display: block;
		@extend .uppercase;
		@extend .tracked-less;
		@extend .bold;
		font-size: 13px;
		height: 65px;
		color: white;

		&:after{
			content: '+';
			color: white;
			position: absolute;
			top: 24px;
			right: 15px;
		}
	}

}

.mobile-menu-secondary{
	display: none;
}

.mobile-menu-secondary-link{
	border-bottom: 1px solid $light;

	a:after{
		display: none;
	}
}


#blanket-dropdown{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	transform: translate(0,-100vh);
	transition: transform .25s;

	&:hover{
		//cursor: url("../images/close.png"), auto;
	}

}

main, footer{
	transition: opacity .5s;
}

body.dropdown-on{

	main,footer{
		opacity: .5;

		@media screen and (max-width: $lg) {
			opacity: 1;
		}
		
	}

	#blanket-dropdown{
		transform: translate(0,0);
		transition: transform .25s;
	}
	
}




