
.page-hero{
	display: flex;
	@extend .align-items-end;
	position: relative;

	&.page-hero-with-image{
		height: 47vh;

		.block-background{
			background-position: center center;
		}

		@media screen and (max-width: $sm) {
			height: 39vh;
		}
		.subpage-title{
			color: white;
			position: relative;
			z-index: 1;
		}
		.page-hero-title{
			color: white;
			position: relative;
			z-index: 1;
			text-shadow: 0px 0px 6vw transparentize($dark, .1);



		}
	}

	.page-title-container{
		padding-top: 10vh;
		padding-bottom: 6vh;

		@media screen and (max-width: $sm) {
			padding-top: 8vh;
			padding-bottom: 4vh;
		}
	}

	.subpage-title{
		color: $brand;
		@extend .uppercase;
		@extend .bold;
		@extend .tracked-less;
		margin-bottom: 0;
	}

	.page-hero-title{
		color: $brand;
		@extend .font-black;
		line-height: 1.1;
		width: 69%;

		@media screen and (max-width: $lg) {
			width: 90%;
		}

		@media screen and (max-width: $md) {
			width: 100%;
		}
	}


}

.page-introduction{
	background: $light-blue;
	padding: 5vh 0;

	h2{
		font-weight: 400;
		@extend .h3;
		width: 75%;
		color: $brand;

		@media screen and (max-width: $md) {
			width: 100%;
			line-height: 1.5;
		}
	}
}

$page-nav-height: 52px;

.page-nav{
	height: $page-nav-height;

	@media screen and (max-width: $md) {
		height: auto;
	}

	.page-nav-inner{
		width: 100%;
		height: $page-nav-height;
		left: 0;
		top: $nav-height;
		z-index: 11;
		background: white;
		border-bottom: 1px solid $light;

		@media screen and (max-width: $md) {
			height: auto;
		}
	}

	&.after{

		.page-nav-inner{
			position: fixed;
			@media screen and (max-width: $md) {
				position: static;
			}
		}

	}

	li{
		display: inline-block;
		margin-right: 20px;
		height: inherit;

		@media screen and (max-width: $md) {
			height: auto;
			margin-right: 15px;
		}

		&:first-child a{
			padding-left: 0;
		}

		a{
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 700;
			color: $medium-light;
			
			padding: 15px 7px 9px 7px;
			letter-spacing: .001em;
			display: inline-block;
			border-bottom: 3px solid transparent;
			height: $page-nav-height;

			&.spy-active{
				color: $brand;
				border-color: $interactive;
			}

			@media screen and (max-width: $md) {
				font-size: 10px;
				padding: 7px 6px 7px 0px;
				border-bottom: none;
				//border: 1px solid red;
				height: auto;
			}
		}

	}
}

.page-nav + .block{
	background: $ultra-light;
}

.page-hero + .block{
	background: $ultra-light;
}



//FLEXIBLE CONTENT MODIFICATIONS

.page-template-default{
	#flexible-content{
		.block:first-child{
			//background: $ultra-light;
		}
	}
}

#flexible-content{
	.container-fc{
		@extend .container-fluid;
	}
}

.fc-cards{

	.fc-section-heading{
		margin-bottom: 0;
	}

	.fc-section-heading-text{
		@extend .section-heading;
		@extend .h3;
	}

	
}

.sticky-nav-after{
	.page-nav + .block{
		//margin-top: $page-nav-height;

		@media screen and (max-width: $md) {
			//margin-top: auto;
		}
	}
}



.spy-active{
	//border: 10px solid yellow !important;
}

.section-heading{
	margin-bottom: 3em;
	@extend .h3;
	@extend .font-black;
	@extend .brand-tint;
}





