

.post-type-archive-resources,.single-resources{
	#blanket{
		background: transparentize($brand, .2);
	}

	#modal-close{
		//top: $nav-height - 30px;
		right: 42px;

		@media screen and (max-width: $sm) {
			right: 15px;
		}
	}

	.modal{
		background: none;
		//width: 100%;
		//height: 100%;
		border-radius: 0;

		&.on{
			//top: 0;
			//left: 0;
		}

		#resource-modal-inner{
			height: 100%;
		}

		iframe{
			width: 100%;
			height: 100%;
		}
	}
}


#resources,.single-resources{
	.container-fluid{
		max-width: 1480px;
	}
}






$resource-card-spacing: 25px;

#resources-container{
}

.card-resource{
	border-radius: 8px;
	margin-bottom: 5vh;
	display: flex;

	&:hover{
		.card-inner{
			@extend .shadowed;
		}
	}

	.card-inner{
		border-radius: 8px;
		border: 1px solid $light;
		background: white;

		@media screen and (max-width: $md) {
			display: block;
			border-color: darken($light,5%);
		}
	}

	.card-image{
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 8px 8px 0px 0px;
		&:after{
			content: '';
			display: block;
			padding-top: 61%;

			@media screen and (max-width: $xs) {
				padding-top: 40%;
			}
		}
	}

	.card-text{
		padding: $resource-card-spacing*1.2 $resource-card-spacing $resource-card-spacing $resource-card-spacing;

		@media screen and (max-width: $md) {
			padding: $resource-card-spacing/1.5 $resource-card-spacing/2 $resource-card-spacing/2 $resource-card-spacing/2;
		}

		.resource-title{
			line-height: 1.25;
			margin-bottom: $resource-card-spacing;
			color: $brand-tint;
			@extend .font-black;

			@media screen and (max-width: $sm) {
				margin-bottom: $resource-card-spacing/1.5;
			}
		}

		.resource-description{
			margin-bottom: $resource-card-spacing;
			font-size: 14px;
			color: $brand-tint;

			@media screen and (max-width: $md) {
				font-size: 11px;
			}

			@media screen and (max-width: $sm) {
				margin-bottom: $resource-card-spacing/1.5;
			}
		}
	}

	.card-links{
		.resource-preview{
			margin-right: $resource-card-spacing;
			@media screen and (max-width: $sm) {
				margin-right: $resource-card-spacing/2;
			}
		}

		a{
			@extend .button;
			@extend .button-small;
			margin-bottom: $resource-card-spacing *.3;
		}
	}

}


#resource-single-main{
	.card-resource{
		flex: 0 0 100% !important;
		width: 100%;
		max-width: none;

		.card-inner{
			width: 100%;
			display: flex;
			border: none;
			background: white;

			&:hover{
				box-shadow: none;
			}

			@media screen and (max-width: $sm) {
				display: block;
			}
		}
		.card-image{
			flex: 0 0 31%;
			border-radius: 8px;
		}
		.card-text{
			flex: 0 0 69%;
			padding: 50px;

			@media screen and (max-width: $sm) {
				padding: 30px 0px;
			}
		}
	}
}