
$search-height: 80px;

#search-box {
    position: fixed;
    padding: 0px;
    width: 100%;
    height: $search-height;
    z-index: 6;
    transform: translateX(0);
    transition: top .5s;
    overflow-x: hidden;
    top: -200px;

    &.on {
        transition: top .5s;
        top: $nav-height;

        @media screen and (max-width: $md) {
            top: $nav-height-mobile;


            .col-xs-12{
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

}

#overlay-search{
    position: fixed;
    width: 100%;
    @extend .vhfull;
    opacity: 1;
    top: $nav-height;
    left: 0;
    z-index: -5;
    opacity: 0;
    background: transparentize($brand, .7);
    transition: transform .5s;
    transition: opacity .5s;

    &.on{
        transition: opacity .5s;
        z-index: 5;
        opacity: 1;
    }

    @media screen and (max-width: $md) {
        top: $nav-height-mobile;
    }

}

#ajaxsearchprores1_1.vertical{
    padding: 0 !important;
}



#ajaxsearchpro1_1, #ajaxsearchpro1_2, div.asp_m.asp_m_1{
    box-shadow: inset 1px 1px 9px transparentize($dark,.8) !important;
    background: $ultra-light;

    input{
        text-indent: 15px;
        font-size: 20px !important;
        color: $dark !important;
        font-weight: 500 !important;

        &::placeholder{
            font-size: 20px !important;
            color: $medium !important;
        }
    }

    @media screen and (max-width: $md) {
        padding: 0 5px;
    }

    div.asp_simple-circle{
        width: 16px !important;
        height: 16px !important;
        padding-top: 22px !important;
        padding-left: 22px !important;
    }

}

.asp_results_top{
    padding: 13px 12px 10px 12px !important;
    border-bottom: 1px solid $light !important;
    font-family: $font-main !important;
    font-weight: 500 !important;

    strong{
        font-weight: 800 !important;
    }
}

//results
#ajaxsearchprores1_1{
    margin-top: 0 !important;
    top: $nav-height + $search-height !important;
    //padding-top: 15px !important;
    border: none !important;
    border-radius: 0 !important;


    .asp_nores_header{
        font-size: 19px !important;
        color: $brand !important;
    }

    @media screen and (max-width: $md) {
        top: $nav-height-mobile + $search-height !important;
        padding-top: 10px !important;
    }

    .item{
        padding: 23px 15px 15px 15px;
        border-bottom: 1px solid $light;

        @media screen and (max-width: $md) {

        }

        .asp_content{
            @media screen and (max-width: $md) {

            }
        }

        .asp_image{
            margin-right: 30px !important;
            display: block !important;

            @media screen and (max-width: $md) {
                margin-right: 15px !important;
                width: 50px !important;
                height: 50px !important;
                display: block !important;
            }
        }

        .asp_res_url{
            color: $brand !important;
            font-size: 19px !important;
            line-height: 1.1 !important;
            font-weight: 800 !important;
            margin-bottom: 0 !important;

            .highlighted{
              font-weight: 800 !important;
              background: lighten(yellow, 35%) !important;
              padding-left: 3px;
              padding-right: 3px;
              color: inherit !important;
          }

          @media screen and (max-width: $md) {
            font-size: 15px !important;
        }

    }

    .etc{
        margin-bottom: 0 !important;
    }

    .asp_res_text{
        font-size: 18px !important;
        line-height: 1.3 !important;
        max-width: 1024px;
        margin-top: 5px !important;

        .highlighted{
            font-weight: 800 !important;
            background: lighten(yellow, 30%) !important;
            color: inherit !important;
        }

        @media screen and (max-width: $md) {
            font-size: 14px !important;
        }

    }

    &.asp_r_page{
        .asp_image{
            display: none !important;
        }
        //border: 10px solid yellow !important;
    }




}

}