
//take-action
.page-id-14{
	.overview-block-text-inner{
		background: $pink-tint;
	}

	.block-heading{
		color: $brand;
	}

	.block-link{
		color: $brand;
	}
}


.page-id-53{


}

.page-id-37{
	.join-world-oceans-day-network-form{
		input{
			width: 100%;
		}
	}
}

.network-partner-list{

}