

.modal{
	position: fixed;
	//width: 100%;
	//height: 100%;
	top: 0;
	left: -100vw;
	z-index: 12;
	opacity: .5;
	transition:  opacity $modal-transition ease-in-out, left 0s linear $modal-transition;
	background: $brand;
	border-radius: 8px;

	width: calc(100% - 100px);
	height: calc(100vh - ( #{$nav-height} * 2 ) - 10px);
	top: calc( ((100vh - (100vh - ( #{$nav-height} * 2 ) - 10px) - #{$nav-height} ) / 2 ) + #{$nav-height});
	box-shadow: 2px 4px 10px transparentize($dark, .5);

	@media screen and (max-width: $md) {
		width: calc(100% - 40px);
		height: calc(100vh - #{$nav-height-mobile} - 120px);
		top: calc(#{$nav-height-mobile} + 60px);
	}

	&.on{
		transition: opacity $modal-transition;
		left: 50px;
		opacity: 1;

		@media screen and (max-width: $md) {
			left: 20px;
		}
	}

	&.scroll{
		overflow: scroll;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

#modal-close{
	position: fixed;
	//top: calc(#{$nav-height} + 30px);
	top: calc( (((100vh - (100vh - ( #{$nav-height} * 2 ) - 10px) - #{$nav-height} ) / 2 ) + #{$nav-height}) - 45px);
	right: -100px;
	height: 40px;
	width: 40px;
	z-index: 13;
	text-align: center;
	opacity: 0;
	transition: opacity $modal-transition, right 0s linear $modal-transition;

	.icon:before{
		font-size: 50px;
		line-height: 42px;
		color: white;

		@media screen and (max-width: $sm) {
			font-size: 45px;
		}
	}

	@media screen and (max-width: $md) {
		top: calc(#{$nav-height-mobile} + 15px);
	}
}

#blanket{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	left: 200%;
	@include transition(opacity .1s);
	opacity: 0;
	background: transparentize($brand, .5);
}

//body styles
.modal-on{
	overflow: hidden;

	#modal-close{
		transition: opacity $modal-transition*5;
		right: 60px;
		opacity: 1;

		@media screen and (max-width: $md) {
			right: 25px;
		}
	}

	#blanket{
		left: 0;
		opacity: 1;
	}

	.modal-person-blanket{
		opacity: 1;
	}

}
